 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

.container {
    max-width: 144rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.products {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.product {
    background: #f9f8fc;
    border: 1px solid #ddd;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.product-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .product-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-category {
    font-weight: bold;
    color: #333;
}

.product-description {
    flex-grow: 1;
    text-align: justify;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    background: rgb(16, 8, 69);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    border-radius: 50%;
}

.add-to-cart ion-icon {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .product {
        width: 100%;
    }

    .product img {
        max-width: 100%;
    }
}

.highlight {
  background-color: yellow; 
  font-weight: bold; 
}

#search-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}


#search-input:focus {
  outline: none;
  border-color: #007BFF; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}



